# LSF HPC Demo Portal 环境配置
KVM_HOST=172.16.12.181
LSF_MASTER=172.16.12.211
ANSIBLE_DIR=/home/lsf/ansible
GRAFANA_URL=http://172.16.12.182:30000
SSH_USER=root
SSH_PASS=Redhat@123
LOG_DIR=/var/lib/lsf-demo/jobs
WEB_PUBLIC_HOST=172.16.12.181
WEB_PUBLIC_PORT=8080
